// Color variables (appears count calculates by raw css)
@color0: #fbf5f8; // Appears 3 times
@color1: #e3b1d2; // Appears 2 times
@color2: #fbf6f9; // Appears 2 times
@color3: #fdd5ef; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width0: 100%; // Appears 3 times
@width3: 22%; // Appears 2 times

// Height variables (appears count calculates by raw css)
@height5: 35px; // Appears 4 times

@margin1: 10px;

.gama-brand {
    background: @color1;
    background: none;
    margin-right: 5px;
    min-height: 34px;
    width: 25%;
}

.language-change {
    background-color: #9a8686;
    background: linear-gradient(@color2, @color3);
    height: 115px;
    top: 0;
    width: @width0;
}

.fixed-topp {
    background: #fcd6ef;
    padding: 0px;
}

.gama-logo {
    padding-left: 4.5em;
    position: absolute;
    top: -33px;
    width: 20%;

}

.navbar-nav {
    .active {
        background: #b67fb7;
        color: #fff;
    }

    li {
        background: @color1;
        margin-left: 2.5px;
        margin-right: 2.5px;
    }
}

.nav-item a {
    color: #fff;
}


.remains {
    background: #e3b1d1;
    flex-grow: 100;
    min-height: 34px;
    width: auto;
}

.main-row {
    padding-top: 5em;
}

.text-field {
    p {
        font-size: 14px;
    }
}

.footer {
    label {
        font-size: 13px;
    }
}

label.form-check-label {
    font-size: 13px;
}

.foot {
    background: linear-gradient(@color3, @color2);
    margin-top: 40px;
    padding-bottom: 3em;
    padding-top: 2em;
}

form {
    width: @width0;
}

input {
    font-size: 13px;
    width: @width0  !important;
}

.form-inline {
    align-items: center;
    display: flex;
    flex-flow: row wrap;

    label {
        margin: 5px 10px 5px 0;
    }

    input {
        background-color: #ffffff;
        border: 1px solid #dddddd;
        margin: 5px 10px 5px 0;
        padding: @margin1;
        vertical-align: middle;
    }
}

.ip-row {
    display: flex;
    justify-content: flex-end;
    margin-bottom: @margin1;
    margin-top: @margin1;
}

.msg {
    input {
        height: 45px;
    }

    label {
        background: @color0;
        height: 44px;
        margin-top: @margin1;
    }
}

.pad-0 {
    padding: 0px;
}

.tk {
    background: @color0;
    height: @height5;
    margin-top: @margin1;
}

.eml {
    input {
        height: @height5;
    }
}

.nome {
    label {
        background: @color0;
        height: @height5;
        margin-top: @margin1;
    }
}

.nome-ip {
    input {
        height: @height5;
    }
}

.gama-brand {
    background: @color1;
}


.lang {
    img {
        width: 6%;
    }
}

.lang-box {
    float: right;
    text-align: center;
    margin-top: 30px;
}

.lang {
    margin: 20px;
}

.nav-link {
    text-transform: uppercase;
    font-size: 12px;
}

.active a {
    color: #fff !important;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
}

.gama-logo-none {
    position: relative !important;
}

.gama-logo-show {
    position: inherit;
}

#navbar {
    z-index: 10;
}

.form-check-input  {
    width: 20% !important;
}

@font-face {
    font-family: 'MyWebFont' !important;
    src: url('../fonts/DINRegular.ttf') !important;
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}


@media (min-width: 1400px) {
    .gama-logo {
        padding-left: 6.5em;
        position: absolute;
        top: -33px;
        width: 23%;
    }
}

@media (min-width: 1500px) {
    .gama-logo {
        padding-left: 9em;
    }
}

@media (max-width: 993px) {
    .nav-item {
        padding: 0px 12px 0px 17px
    }

    .gama-brand {
        background: none;
    }
}

@media(max-width: 1200px) {
    .game-brand {
        padding-left: 3em;
    }
}

@media (max-width: 768px) and (min-width: 600px) {
    .fixed-topp {
        /* top: 54px; */
    }

    .gama-logo {
        top: -25px;
        padding-left: 2.5em;
    }
}

@media (max-width: 599px) and (min-width: 500px) {
    .gama-logo {
        padding-left: 1.5em;
        width: @width3;
    }

    .fixed-topp {
        /* top: 54px; */
    }
}

@media (max-width: 499px) and (min-width: 400px) {
    .gama-logo {
        width: @width3;
        top: -14px;
        padding-left: 1.5em;

    }

    .fixed-topp {
        /* top: 45px; */
    }
}

@media (max-width: 399px) {
    .gama-logo {
        width: 33%;
        top: -37px;
        padding-left: 1em;

    }

    .fixed-topp {
        /* top: 45px; */
    }
}

@media (max-width: 700px) {
    .lable-1 label {
        font-size: @margin1  !important;
    }
}

@media (max-width: 575px) {
    .foot {
        padding: 1em;
    }
}